<%- include('partials/header') %>


    <h1>Home</h1>

    <% folders.map((folder) => {%>
        <div>Folder: <%= folder.name %>  </div>
        <div>Files: 
            <% folder.files.map((file) => {%>
                <div class="fileContainer">
                    <a href=""><%= file.name %></a>
            <%}) %>        
            <div class="btnContainer">
                <form action="">
                <button>✕</button>
            </form>
            <form action="">
                <button>↓</button>
            </form>
            <form action="">
                <button>✎</button>
            </form>
            </div>  
            

                </div>
                
        </div>
    <%}) %>
    
<%- include('partials/footer') %>