.container {
	align-items: center;
	/* gap: 10px; */
}

.folderContainer {
	background-color: rgb(255, 255, 255);
	padding: 10px;
	margin-bottom: 5px;
}

.filesContainer {
	display: flex;
	gap: 5px;
	flex-direction: column;
	width: 500px;
}

.fileContainer {
	display: flex;
	background-color: #000000;
	padding: 5px;
	gap: 10px;
	align-items: center;
}

.fileName {
	text-decoration: none;
	color: white;
	flex: 1;
	display: flex;
	align-items: center;

	overflow-wrap: anywhere;
	word-break: break-all;
}

.fileName:hover {
	text-decoration: none;
	color: rgb(189, 189, 189);
}

.btn{
	width: 28px;
	height: 28px;
	border: none;
	background-color: rgb(255, 255, 255);
	cursor: pointer;
	color: black;
	text-decoration: none;
	display: flex;
	justify-content: center;
	align-items: center;
}

.btn:hover{
	background-color: #dddddd;
}

.btn:active {
	background-color: black;
	color: white;
}

.btnContainer {
	margin-left: auto;
	display: flex;
	gap: 2px;
}
