/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
  box-sizing: border-box;
}
/* 2. Remove default margin */
*:not(dialog) {
  margin: 0;
}
/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}
body {
  /* 4. Add accessible line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}
/* 6. Improve media defaults */
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
/* 7. Inherit fonts for form controls */
input, button, textarea, select {
  font: inherit;
}
/* 8. Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}
/*
  10. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}






.container{
	display: flex;
	flex-direction: column;
	align-items: center;
}

.navContainer {
	
  gap: 20px;
  background-color: black;
 padding: 10px 20px;

 display: grid;
  grid-template-columns: 1fr auto 1fr;
}

.navContainer h3 {
  color: white;
}

.navContainer a {
  color: rgb(255, 255, 255);
  text-decoration: none;
   transition: transform 0.15s ease;
}

.navContainer a:hover{
  color: rgb(189, 189, 189);
  text-decoration: none;
  transform: scale(1.1);
}

.leftNav {
  justify-self: start;
}
.midNav {
  justify-self: center;
  display: flex;
  gap: 20px;
}

.rightNav{
  display: flex;
  align-items: center;
  gap: 20px;
  justify-self: right;
}

