<%- include('../partials/header') %>

    <h1>Create Folder</h1>
	<%- include("../partials/errors.ejs") %>
    <form action="/folder/create" method="POST">
	<label for="name">Folder name</label>
	<input
	autocomplete="off"
		id="name"
		name="name"
		type="text"
	/>
	<button type="submit">Create</button>
</form>
    
<%- include('../partials/footer') %>